
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700');
@import 'settings.scss';

* {
  font-family: $text-font;
  font-size: $font-size;
}

h1,h2,h3,h4 {
  font-family: $heading-font;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: -5px;
  display: inline-block;
  font-weight: normal;
  font-size: $heading-font-size;
}

h1 {
  color: #fff;
  background-color: $primary-color;
  padding-left: 1000px;
  position: relative;
  margin-left:-1000px;
}

p a {
  color: $primary-color;
}

button, .button {
  background-color: $secondary-color;
  text-transform: uppercase;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  font-size: $button-font-size;
  text-decoration: none;
  display: inline-block;
  margin-top:$spacing-20;

  &:hover {
    text-decoration: underline;
  }
}

section {
  max-width: $max-width;
  width: 100%;
  margin: auto;
  padding: 10px;
  padding-top: $spacing-80;
  padding-bottom: $spacing-80;
}

.cells {
  display: flex;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}

.bg-primary p {
  color: #ffffff;
}
