
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald:400,700');
@import 'settings.scss';
@import 'mixins.scss';

a, p, li {
  font-family: $text-font;
  font-size: $font-size;
  @include css-lock(16, 20, '400px', '1200px', font-size);

}

h1,h2,h3,h4 {
  font-family: $heading-font;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: -10px;
  display: inline-block;
  font-weight: normal;
  @include css-lock(28, 32, 400, 1200, font-size);

}

h1 {
  color: #fff;
  background-color: $primary-color;
  position: relative;
  margin-top: $spacing-20;
}

p a {
  color: $primary-color;
}

button, .button {
  background-color: $secondary-color;
  text-transform: uppercase;
  margin: 10px 20px;
  border: 0;
  color: #fff;
  font-size: $button-font-size;
  text-decoration: underline;
  display: inline-block;
  margin-top:$spacing-20;
  border-radius: 4px;
  transition: all 0.2s;


  &:hover {
    box-shadow: 0 3px 8px rgba(42,32,23,.3)
  }
}

section {
  max-width: $max-width;
  margin: auto;
  padding: 10px;
  padding-top: $spacing-40;
  padding-bottom: $spacing-80;
}

.cells {
  display: flex;
}

.center {
  text-align: center;
}
.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}

.bg-primary p {
  color: #ffffff;
}


