
$primary-color: #BED933;
$secondary-color: #2D9CDB;

$heading-font: 'Oswald', sans-serif;
$text-font: 'Open Sans', Helvetica, sans-serif;

$font-size: 18px;
$font-size-small: 14px;
$button-font-size: 22px;
$heading-font-size: 32px;


$spacing-10: 13px;
$spacing-20: 21px;
$spacing-30: 31px;
$spacing-40: 41px;
$spacing-80: 80px;

$decent-border-color: #f0f0f0;

$max-width: 800px;
